@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

// font-family: "Urbanist", sans-serif;
// Short-hand heading
$Heading_1: 600 60px/150% "Urbanist", sans-serif;

$Heading_2: 600 40px/150% "Urbanist", sans-serif;
$Heading_2a: 600 48px/150% "Urbanist", sans-serif;

$Heading_3: 600 30px/150% "Urbanist", sans-serif;

$Heading_4: 600 24px/150% "Urbanist", sans-serif;
// Short-hand paragraph/button
$paraText: 500 18px/150% "Urbanist", sans-serif;

$paraText2: 500 20px/150% "Urbanist", sans-serif;


