// background values==>
$grey08:#141414;
$btn_bg:#703BF7;
$grey10: #1A1A1A;

// border color
$border_1: 1px solid #262626;
$border_big: 10px solid #262626;

// font color==>
$colorWhite:#ffffff;
$description_color:#999999;
$star:#ffe500;


// greadient==>
$purple_grednt:#703BF7;

