.wrapper{
    background-color: $grey10;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    width: 80vw;
    height: 100px;
    background-color: $grey10;
    margin: auto;
    
    
    .navBar{
        ul{
            li{
                padding: 30px;
                
                a, .butn{
                    color: $colorWhite;
                    font: $paraText;
                    @include btnSize18;
                    cursor: pointer;
                }
            }
        }
    }
   
}
.navMid{
    padding: 18px 0px;
    justify-content: center;
    align-items: center;
    position: relative;
   
    background-image: url(../../media/abstractBanner.png);
    p{
        font: $paraText;
        color: $colorWhite;
        
    }
    a{
        color: $colorWhite;
        text-decoration: underline;
    }
}
